<div>
  <div style="display: flex; justify-content: space-between">
    <div>
      <h2>Saved graphs</h2>
      <label>(Max 5 saved graphs)</label>
    </div>
    <div>
      <button mat-raised-button (click)="closeAndDeleteDialog()">
        Close and delete
      </button>
      <button mat-raised-button (click)="closeDialog()">Close</button>
    </div>
  </div>
  <mat-list *ngFor="let g of savedGraphs">
    <mat-list-item style="width: 500px; height: 450px">
      <div>
        <img src="{{g.graph.img}}" style="width: 500px; height: 400px" />
        <div>
          <button mat-raised-button (click)="select(g.graph)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-raised-button (click)="delete(g.key)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-item>
    <mat-divider class="background-divider"></mat-divider>
  </mat-list>
</div>
