<div class="container">
  <div style="background-color: #0096ff">
    <h1>Graph algorithms vizualization</h1>
    <div style="margin: 5px">
      <button mat-button (click)="petersenGraph()">Petersen</button>
      <button mat-button (click)="housesWells()">3 Houses 3 Wells</button>
      <button mat-button (click)="butterfly()">Butterfly</button>
      <button mat-button (click)="complete()">Complete</button>
    </div>
    <div style="margin: 5px">
      <mat-button-toggle-group
        [(ngModel)]="directed"
        [disabled]="graph != undefined"
      >
        <mat-button-toggle [value]="true">Directed</mat-button-toggle>
        <mat-button-toggle [value]="false">Undericted</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group
        [(ngModel)]="weighted"
        [disabled]="graph != undefined"
      >
        <mat-button-toggle [value]="true">Weighted</mat-button-toggle>
        <mat-button-toggle [value]="false">Unweighted</mat-button-toggle>
      </mat-button-toggle-group>
      <button
        mat-button
        (click)="createGraph()"
        [disabled]="
          directed == undefined || weighted == undefined || graph != undefined
        "
      >
        Create
      </button>
      <button mat-button (click)="addGraph()">Add graph</button>
      <button mat-button (click)="loadGraph()">Load storage</button>
      <button mat-button (click)="openFileInput()">Load file</button>
      <input
        #inputFile
        type="file"
        (change)="onFileSelected($event)"
        style="display: none"
      />
    </div>
    <div style="margin: 5px">
      <button
        mat-button
        (click)="downloaGraph()"
        [disabled]="
          directed == undefined || weighted == undefined || graph == undefined
        "
      >
        Download
      </button>
      <button
        mat-button
        (click)="saveGraph()"
        [disabled]="
          directed == undefined || weighted == undefined || graph == undefined
        "
      >
        Save
      </button>
      <button
        mat-button
        (click)="clearEdges()"
        [disabled]="
          directed == undefined || weighted == undefined || graph == undefined
        "
      >
        Clear edges
      </button>
      <button
        mat-button
        (click)="clearAll()"
        [disabled]="
          directed == undefined || weighted == undefined || graph == undefined
        "
      >
        Clear all
      </button>
      <button
        mat-button
        (click)="reset()"
        [disabled]="
          directed == undefined || weighted == undefined || graph == undefined
        "
      >
        Reset
      </button>
    </div>
  </div>
  <div style="display: flex">
    <div id="mynetwork" #siteConfigNetwork></div>
    <div
      #infoArea
      *ngIf="selectedAlgorithmName != ''"
      style="width: auto; margin-right: 15px"
    >
      <label
        *ngIf="
          selectedAlgorithmName == 'kruskal' && kruskalMinimumCost != undefined
        "
      >
        Minimum cost of spanning tree: {{ kruskalMinimumCost }}
      </label>

      <table
        style="float: left"
        mat-table
        [dataSource]="bfsQueue"
        #bfsqueuetable
        *ngIf="selectedAlgorithmName == 'bfs'"
      >
        <ng-container matColumnDef="Node queue">
          <th mat-header-cell *matHeaderCellDef>Node queue</th>
          <td mat-cell *matCellDef="let element">{{ element }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="queueColumnHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: queueColumnHeaders"></tr>
      </table>

      <table
        style="float: left"
        mat-table
        [dataSource]="dfsStack"
        #dfsstacktable
        *ngIf="selectedAlgorithmName == 'dfs'"
      >
        <ng-container matColumnDef="Node stack">
          <th mat-header-cell *matHeaderCellDef>Node stack</th>
          <td mat-cell *matCellDef="let element">{{ element }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="stackColumnHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: stackColumnHeaders"></tr>
      </table>

      <table
        style="float: left"
        mat-table
        [dataSource]="topSort"
        #topsorttable
        *ngIf="selectedAlgorithmName == 'dfs'"
      >
        <ng-container matColumnDef="Top sort">
          <th mat-header-cell *matHeaderCellDef>Top sort</th>
          <td mat-cell *matCellDef="let element">{{ element }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="topSortColumnHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: topSortColumnHeaders"></tr>
      </table>

      <table
        mat-table
        #dijkstraTable
        [dataSource]="dijkstraTableData"
        *ngIf="selectedAlgorithmName == 'dijkstra'"
      >
        <ng-container matColumnDef="Node">
          <th mat-header-cell *matHeaderCellDef>Node</th>
          <td mat-cell *matCellDef="let element">{{ element.Node }}</td>
        </ng-container>
        <ng-container matColumnDef="Distance">
          <th mat-header-cell *matHeaderCellDef>Distance</th>
          <td mat-cell *matCellDef="let element">{{ element.Distance }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="distanceColumnHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: distanceColumnHeaders"></tr>
      </table>

      <table
        mat-table
        #bellmanfordtable
        [dataSource]="bellmanFordTable"
        *ngIf="selectedAlgorithmName == 'bellmanford'"
      >
        <ng-container matColumnDef="Node">
          <th mat-header-cell *matHeaderCellDef>Node</th>
          <td mat-cell *matCellDef="let element">{{ element.Node }}</td>
        </ng-container>
        <ng-container matColumnDef="Distance">
          <th mat-header-cell *matHeaderCellDef>Distance</th>
          <td mat-cell *matCellDef="let element">{{ element.Distance }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="distanceColumnHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: distanceColumnHeaders"></tr>
      </table>

      <table *ngIf="selectedAlgorithmName == 'floydWarshall'">
        <tr>
          <th *ngFor="let col of fwTableHeaders">{{ col }}</th>
        </tr>
        <tr *ngFor="let row of fwData">
          <td style="width: 30px; height: 25px" *ngFor="let col of row">
            {{ col }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div style="background-color: #0096ff">
    <randomgraph
      [directed]="directed"
      [weighted]="weighted"
      [graph]="graph"
      (graphFinished)="setGeneratedGraph($event)"
    ></randomgraph>
    <algorithms
      #algorithmsComponent
      [directed]="directed"
      [weighted]="weighted"
      [graph]="graph"
      [startNode]="selectedNode"
      [graphIsConnected]="graphIsConnected"
      [graphHasNegativeEdge]="graphHasNegativeEdge"
      [isAdjListEmpty]="isAdjListEmpty"
      [kruskalUserColoring]="kruskalUserColoring"
      (startNodeSelectedEmitter)="startNodeSelected($event)"
      (generatorResultEmitter)="stepClicked($event)"
      (resetAlgoEmitter)="resetAlgo()"
      (algoNameEmitter)="selectedAlgorithm($event)"
      (kruskalCostEmitter)="setKruskalCost($event)"
      [events]="graphChangedEvent.asObservable()"
    ></algorithms>
  </div>
</div>
