<div style="margin: 10px">
  <div>
    <button mat-button (click)="resetAlgo()">Reset algorithm</button>
    <label>Start node:</label>
    <input
      matInput
      type="text"
      [(ngModel)]="startNode"
      style="width: 30px; margin-left: 10px"
    />

    <button
      mat-button
      (click)="bfs()"
      [ngStyle]="{
        border: selectedAlgo == 'bfs' ? '2px solid black' : '0'
      }"
      [disabled]="graph == undefined || generator != undefined || weighted"
    >
      BFS
    </button>

    <button
      mat-button
      (click)="dfs()"
      [ngStyle]="{
        border: selectedAlgo == 'dfs' ? '2px solid black' : '0'
      }"
      [disabled]="graph == undefined || generator != undefined || weighted"
    >
      DFS
    </button>

    <button
      mat-button
      (click)="dijkstra()"
      [ngStyle]="{
        border: selectedAlgo == 'dijkstra' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        generator != undefined ||
        !weighted ||
        graphHasNegativeEdge
      "
    >
      DIJKSTRA
    </button>

    <button
      mat-button
      (click)="prim()"
      [ngStyle]="{
        border: selectedAlgo == 'prim' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        generator != undefined ||
        directed ||
        !weighted ||
        !graphIsConnected
      "
    >
      PRIM
    </button>

    <button
      mat-button
      (click)="kruskal()"
      [ngStyle]="{
        border: selectedAlgo == 'kruskal' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        generator != undefined ||
        directed ||
        !weighted ||
        !graphIsConnected
      "
    >
      KRUSKAL
    </button>

    <button
      mat-button
      (click)="bellmanford()"
      [ngStyle]="{
        border: selectedAlgo == 'bellmanford' ? '2px solid black' : '0'
      }"
      [disabled]="graph == undefined || generator != undefined || directed"
    >
      BELLMANFORD
    </button>

    <button
      mat-button
      (click)="floydWarshall()"
      [ngStyle]="{
        border: selectedAlgo == 'floydWarshall' ? '2px solid black' : '0'
      }"
      [disabled]="graph == undefined || generator != undefined || !weighted"
    >
      FLOYDWARSHALL
    </button>

    <button
      mat-button
      (click)="topSort()"
      [disabled]="graph == undefined || generator != undefined"
    >
      TOPSORT
    </button>
  </div>
  <div>
    <label style="margin-right: 10px">Speed:</label>
    <mat-slider
      thumbLabel
      [(ngModel)]="speed"
      [displayWith]="formatLabel"
      tickInterval="1"
      step="1"
      min="1"
      max="5"
    ></mat-slider>

    <button
      mat-button
      (click)="stepBackAlgo()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        canUndo()
      "
    >
      Prev
    </button>

    <button
      mat-button
      (click)="stepAlgo()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Step
    </button>

    <button
      mat-button
      (click)="startLoop()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Start
    </button>

    <button
      mat-button
      (click)="pause()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Pause
    </button>

    <button
      mat-button
      (click)="resume()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Resume
    </button>
  </div>
</div>
