<div style="margin: 10px">
  <div>
    <button mat-raised-button (click)="openStats()">Stats</button>
    <button mat-raised-button (click)="resetAlgo()">Reset algorithm</button>
    <label>Start node:</label>
    <input
      matInput
      type="number"
      [(ngModel)]="startNode"
      (ngModelChange)="startNodeChanges($event)"
      style="width: 30px; margin-left: 10px"
    />

    <button
      mat-raised-button
      (click)="bfs()"
      [ngStyle]="{
        border: selectedAlgo == 'bfs' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        isAdjListEmpty ||
        generator != undefined ||
        weighted
      "
    >
      BFS
    </button>

    <button
      mat-raised-button
      (click)="dfs()"
      [ngStyle]="{
        border: selectedAlgo == 'dfs' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        isAdjListEmpty ||
        generator != undefined ||
        weighted
      "
    >
      DFS
    </button>

    <button
      mat-raised-button
      (click)="dijkstra()"
      [ngStyle]="{
        border: selectedAlgo == 'dijkstra' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        isAdjListEmpty ||
        generator != undefined ||
        !weighted ||
        graphHasNegativeEdge
      "
    >
      DIJKSTRA
    </button>

    <button
      mat-raised-button
      (click)="prim()"
      [ngStyle]="{
        border: selectedAlgo == 'prim' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        isAdjListEmpty ||
        generator != undefined ||
        directed ||
        !weighted ||
        !graphIsConnected
      "
    >
      PRIM
    </button>

    <button
      mat-raised-button
      (click)="kruskal()"
      [ngStyle]="{
        border: selectedAlgo == 'kruskal' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        isAdjListEmpty ||
        generator != undefined ||
        directed ||
        !weighted ||
        !graphIsConnected
      "
    >
      KRUSKAL
    </button>

    <button
      mat-raised-button
      (click)="bellmanford()"
      [ngStyle]="{
        border: selectedAlgo == 'bellmanford' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        isAdjListEmpty ||
        generator != undefined ||
        !weighted
      "
    >
      BELLMANFORD
    </button>

    <button
      mat-raised-button
      (click)="floydWarshall()"
      [ngStyle]="{
        border: selectedAlgo == 'floydWarshall' ? '2px solid black' : '0'
      }"
      [disabled]="
        graph == undefined ||
        isAdjListEmpty ||
        generator != undefined ||
        !weighted
      "
    >
      FLOYDWARSHALL
    </button>
  </div>
  <div>
    <label style="margin-right: 10px; margin-left: 5px"
      >Speed ({{ speed }} sec):</label
    >
    <mat-slider
      thumbLabel
      [(ngModel)]="speed"
      [displayWith]="formatLabel"
      tickInterval="1"
      step="1"
      min="1"
      max="5"
    ></mat-slider>

    <button
      mat-raised-button
      (click)="stepBackAlgo()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        kruskalUserColoring ||
        canUndo()
      "
    >
      Prev
    </button>

    <button
      mat-raised-button
      (click)="stepAlgo()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Step
    </button>

    <button
      mat-raised-button
      (click)="startLoop()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Start
    </button>

    <button
      mat-raised-button
      (click)="pause()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Pause
    </button>

    <button
      mat-raised-button
      (click)="resume()"
      [disabled]="
        directed == undefined ||
        weighted == undefined ||
        generator == undefined ||
        isAlgorithmEnded
      "
    >
      Resume
    </button>
  </div>
</div>
